<!DOCTYPE html>
<html>
<title>GameDay Status Page</title>

<xmp theme="simplex" style="display:none;">
# So glad I did this.
I am so glad I deployed this sample app first. It's going to make the deployment of my next pieces of code SO MUCH easier. Not to mention, Kyle said I will get a nice little _bonus_ for deploying this before the weekend.

I mean, at this point I am still not processing any unicorn returns, but at least I got that nice deployment bonus of 5000 Points!

# This is not my final code.
I scraped this code together to get a quick deployment going for our slave lord Kyle. I mean, the guy has a serious issue with getting things done.

My doctor says it's all in my head and I should chill out, but I think he is in on the conspiracy. I mean, free health care at the office just seems _dodgy_ to me. Almost like state owned media.

Is that a rabbit? I'm sure that was a rabbit... No, Squirrel, definitely a squirrel.

## 80's Games
Alexa, did I ever tell you I _LOVE_ 80s games? Like Contra, DigDug, SpaceInvaders... I have so many great memories about those games. Every time I type those words it makes me all warm and fuzzy. Not to mention, by giving my software pieces those names I screw with Kyle who's all about "being a 90's kid"...

## Next Steps.
I need to find that squirrel

## Found the squirrel
I found the squirrel, turned out it wasn't a squirrel. I'll explain later.

<%= fortytwo %>
_<%= paperRoute %>_

## My eyes are red.
I think the not-squirrel had rabies... I'm thinking about weird things like skydiving without a parachute...

## There might be some things I forgot.
The _Real Code_ in the repo I mentioned the other day might not be perfect. I think I might not be processing the rentals totally right every time. I dunno, the not-squirrel bite is making it difficult to concentrate.  I'll double check and fix the code when I get back from the Para-gliding session this weekend. For now, what's in there should be safe to run for the weekend. At least Kyle will be off my back.
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
